@font-face {
    font-family: "Lato-black";
    src: url("assets/Lato-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Lato-Regular";
    src: url("assets/Lato-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Lato-Bold";
    src: url("assets/Lato-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Lato-Light";
    src: url("assets/Lato-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1020px;
}

/* HEADER */

.header__nav-mobile-flex {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100vh;
    width: 70vw;
    background-color: #2d303a;
    z-index: 1;
    transition: 1s;
    transform: translateX(-100%);
    display: none;
}

.header__background {
    max-width: 1020px;
    height: 95px;
    background-color: #2d303a;
}

.header__li_mobile {
    margin-top: 27px;
}

.header__nav-mobile-flex_hidden {
    transform: translateX(0%);
    display: block;
}

.logo-transform {
    z-index: 1;
    transition: 1s;
    transform: translateX(-70px);
}

.header__nav-mobile-flex nav {
    height: 100%;
}

.header-mobile__menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 205px;
    padding-left: 70px;
}

.header-mobile__menu a {
    color: #f06c64;
    font-family: "Lato-Bold";
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.84px;
    text-transform: uppercase;
    color: #ffffff;

}

.header__nav-mobile a {
    width: 25px;
    height: 20px;
    position: relative;
    top: 35px;
    left: 20px;
    z-index: 2;
}

.header__nav-mobile-line,
.header__nav-mobile-line::before,
.header__nav-mobile-line::after {
    background-color: #fff;
    width: 25px;
    height: 3px;
    position: absolute;
    top: 0;
    transition: 0.5s;
    display: none;
}

.showEffect {
    transform: rotate(90deg);
}

.header__nav-mobile-line::before,
.header__nav-mobile-line::after {
    content: "";
}

.header__nav-mobile-line::before {
    transform: translateY(-9px);
}

.header__nav-mobile-line::after {
    transform: translateY(9px);
}

h1 {
    width: 115px;
    height: 20px;
    color: #ffffff;
    font-size: 25px;
    line-height: 10.32px;
    text-transform: uppercase;
    font-family: "Lato-Bold", sans-serif;
    padding-top: 9px;
}

h1 span {
    color: #f06c64;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.header__li {
    display: inline-block;
    margin-top: 9px;
}

.header__li_dot::after {
    content: "·";
    margin: 0 9px;
    color: #ffffff;
}

.header__li a {
    color: #ffffff;
    font-family: "Lato-Bold", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 6.32px;
    text-transform: uppercase;
    padding: 10px 0;
}

.header__li a:hover {
    color: #f06c64;
}

.header__li a:active {
    color: #c93a32;
}

.header__li_active a {
    color: #f06c64;
}

.header__wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 89px;
    padding: 0 40px;
}

.header__footer {
    max-width: 1020px;
    height: 6px;
    background-color: #323746;
}

/* BLOCK-ONE */

.blck-one__phone-left_transform {
    transform: rotate(90deg);
}

.block-one__image_transform {
    transform: rotate(-90deg);
    margin: 72px 0px 0px -72px;
    width: 333px;
    height: 188px;
    background: url(assets/block-one_image-two.png)center center no-repeat;
}


.block-one {
    max-width: 1020px;
    height: 600px;
    background-color: #f06c64;
}

.block-one__button {
    background-color: transparent;
    border: none;
    display: -webkit-box;
    display: flex;
}

.block-one__button:active {
    background-color: #df5f58;
    cursor: pointer;
}

.block-one__button:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px;
}

.block-one__button:hover {
    cursor: pointer;
}

.block-one__content {
    display: grid;
    grid-template-columns: 100px 240px 1fr 100px;
    -webkit-box-align: center;
    align-items: center;
    height: 600px;
}

.block-one__arrow {
    justify-self: center;
    margin-bottom: 11px;
}

.blck-one__phone-left {
    width: 215px;
    height: 458px;
    background-color: #f2f2f2;
    border-radius: 27px;
    justify-self: center;
    align-self: flex-start;
    margin: 53px 0 0 0;
}

.blck-one__phone-left_shadow {
    box-shadow: 25px 24px 0px 0px rgba(202, 31, 31, 0.15);
}

.blck-one__phone-left_shadow-rigth {
    box-shadow: 25px -24px 0px 0px rgba(202, 31, 31, 0.15)
}

.block-one__background-for-dot {
    width: 10px;
    height: 10px;
    border-radius: 60px;
    background-color: #d8d8d8;
}

.block-one__background-for-dot_position {
    position: relative;
    left: 102px;
    top: 16px;
}

.block-one__red-dot {
    width: 4px;
    height: 4px;
    background-color: #eb5055;
    border-radius: 117px;
}

.block-one__red-dot_position {
    position: relative;
    left: 3.4px;
    top: 2.5px;
}

.block-one__speaker-phone {
    width: 36px;
    height: 5px;
    background-color: #acacac;
    border-radius: 60px;
}

.block-one__speaker-phone_position {
    position: relative;
    top: 26px;
    left: 89px;
}

.block-one__image-phone {
    width: 188px;
    height: 333px;
    border: 3px solid #c6c6c6;
}

.block-one__image-phone_image {
    background: url(assets/block-one_image-one.png) no-repeat center center;
}

.block-one__image-phone_position {
    position: relative;
    top: 47px;
    left: 10.5px;
}

.block-one__button-phone {
    border-radius: 60px;
    width: 43px;
    height: 43px;
    background-color: #fafafa;
}

.block-one__button-phone_position {
    position: relative;
    top: 53px;
    left: 85px;
}

.block-one__icon-button-phone {
    width: 13px;
    height: 13px;
    background-color: #fafafa;
    border: solid #bababa 2px;
    border-radius: 6px;
}

.block-one__icon-button-phone_position {
    position: relative;
    top: 13px;
    left: 13px;
}



.block-one__footer-line {
    max-width: 1020px;
    height: 15px;
    background-color: #ea676b;
}

/* BLOCK-TWO */

.block-two {
    max-width: 1020px;
    min-height: 496px;
    background-color: #f2f2f2;
}

.block-two__wrapper {
    max-width: 939px;
    margin: auto;
}

.block-two__content-block {
    display: -webkit-box;
    display: flex;
}

.block-two__main-headline h2 {
    color: #666d89;
    font-family: "Lato-black";
    font-size: 30px;
    font-weight: 400;
    line-height: 17.86px;
    padding: 69px 0 0 0;
    margin: 0 0 8px 0;
}

.block-two__top-paragraph {
    font-family: "Lato-Regular";
    color: #767e9e;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: -0.08px;
    max-width: 939px;
    min-height: 78px;
    overflow: hidden;
}

.block-two__circle-image {
    width: 55px;
    height: 55px;
    border: 2px solid #666d89;
    display: -webkit-box;
    display: flex;
    border-radius: 60px;
    -webkit-box-pack: center;
    justify-content: center;
}

.block-two__circle-image_margin {
    margin: 27px 19px 0 0;
}

.block-two__headline-conente-block h3 {
    color: #666d89;
    font-family: "Lato-black";
    font-size: 18px;
    font-weight: 400;
    line-height: 17.86px;
    margin: 27px 0 0 0;
}

.block-two__paragraph-content p {
    font-family: "Lato-Regular";
    width: 220px;
    height: 67px;
    overflow: hidden;
    color: #767e9e;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    margin-bottom: 0px;
}

.block-two__line-conent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.block-two__line-conent_margin {
    margin: 20px 0 0 0;
}

.block-two__footer-line {
    max-width: 1020px;
    height: 6px;
    background-color: #ffffff;
}

/* BLOCK-THREE */

.block-three {
    max-width: 1020px;
    min-height: 870px;
    background-color: #2d303a;
}

.block-three__mine-headline h2 {
    width: 121px;
    height: 23px;
    color: #666d89;
    font-family: "Lato-black";
    font-size: 30px;
    font-weight: 400;
    line-height: 17.86px;
}

.block-three__subtitle p {
    width: 682px;
    height: 17px;
    color: #767e9e;
    font-family: "Lato-Light";
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
}

.block-three__wrapper {
    max-width: 940px;
    margin: auto;
    padding: 45px 0 0 1px;
    box-sizing: border-box;
}

.block-three__box-button {
    display: -webkit-box;
    display: flex;
    padding-top: 2px;
    margin-bottom: 20px;
}

.block-three__button button {
    border: 1px solid #666d89;
    color: #767e9e;
    font-family: "Lato-Regular";
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    background-color: transparent;
    border-radius: 4px;
    display: -webkit-box;
    display: flex;
    cursor: pointer;
    padding: 1px 6px;
}

.block-three__button button:hover {
    color: #dedede;
    border: 1px solid #c5c5c5;
}

.block-three__button button:focus {
    color: #dedede;
    box-shadow: 0px 0px 2px 1px;
    outline: none;
}

.block-three__button button:active {
    color: #dedede;
    box-shadow: 0px 0px 4px 2px;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

.block-three__button_active button {
    color: #dedede;
    border: 1px solid #c5c5c5;
}

.block-three__button_position {
    margin-right: 10px;
}

.block-three__box-gallery {
    display: grid;
    grid-template-rows: repeat(3, 187px);
    grid-template-columns: repeat(4, 220px);
    grid-gap: 20px;
}

.block-three_line-background {
    max-width: 1020px;
    height: 6px;
    background-color: #323746;
}

.block-three__box-gallery {
    overflow: hidden;
    height: 601px;
}

.block-three__image-box:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

/* BLOCK-FOUR */

.block-four {
    max-width: 1020px;
    height: 728px;
    background-color: #f2f2f2;
}

.block-four__wrapper {
    max-width: 940px;
    margin: auto;
    padding: 45px 0 0 1px;
    box-sizing: border-box;
}

.block-four__main-headline h2 {
    color: #666d89;
    font-family: "Lato-black";
    font-size: 30px;
    font-weight: 400;
    line-height: 17.86px;
}

.block-four__main-paragraph p {
    color: #767e9e;
    font-family: "Lato-Light";
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}

.block-four__main-paragraph_margin {
    margin-bottom: 47px;
}

.block-four__box-position {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.block-four__box-column {
    width: 300px;
}

.block-four__name h3 {
    color: #666d89;
    font-family: "Lato-black";
    font-size: 18px;
    font-weight: 400;
    line-height: 17.86px;
    white-space: nowrap;
    margin: 12px 0 12px 0;
}

.block-four__about-employee p {
    width: 301px;
    height: 32px;
    color: #767e9e;
    font-family: "Lato-Regular";
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    letter-spacing: -0.05px;
}

.block-four__about-employee_margin {
    margin-bottom: 33px;
}

.block-four__social {
    display: -webkit-box;
    display: flex;
}

.block-four_icon-social {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: 1px solid #666d89;
    border-radius: 60px;
}

.block-four_icon-social:hover {
    background-color: #dfdfdf;
}

.block-four_icon-social a {
    padding: 8px;
}

.block-four__social_margin {
    margin-right: 6px;
}

.block-four_footer-line {
    max-width: 1020px;
    height: 6px;
}


/* BLOCK-FIVE */

.block-five {
    max-width: 1020px;
    height: 648px;
    background-color: #f06c64;
}

.block-five__wrapper {
    max-width: 940px;
    margin: auto;
    padding: 45px 0 0 1px;
    box-sizing: border-box;
}

.block-five__mine-headline h2 {
    width: 162px;
    height: 26px;
    color: #f0d8d9;
    font-family: "Lato-black";
    font-size: 30px;
    font-weight: 400;
    line-height: 17.86px;
    letter-spacing: -0.3px;
}

.block-five__mine-headline_margin h2 {
    margin-bottom: 17px;
}

.block-five__mine-paragraph p {
    width: 939px;
    height: 47px;
    color: #f0d8d9;
    font-family: "Lato-Light";
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}

.block-five__input-box {
    display: -webkit-box;
    display: flex;
}

.block-five__input-box_margin {
    margin-top: 57px;
}

.block-five__section-block-rigth_margin {
    margin-left: 20px;
}

.block-five__input input {
    width: 619px;
    height: 38px;
    background-color: #d6564f;
    border: none;
    border-radius: 3px;
    margin: 0;
    padding-left: 15px;
    font-family: "Lato-Regular";
    color: #f0d8d9;
    box-sizing: border-box;
}

.block-five__textarea textarea {
    width: 619px;
    height: 202px;
    background-color: #d6564f;
    border: none;
    font-family: "Lato-Regular";
    color: #f0d8d9;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 0;
    padding: 13px 0 0 15px;
    resize: none;
}

.block-five__textarea textarea:focus {
    outline: none;
    box-shadow: 0px 0px 2px 1px;
}

.block-five__textarea textarea::-webkit-input-placeholder {
    color: #f48c8f;
    font-family: "Lato-Regular";
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
}

.block-five__textarea textarea::-moz-placeholder {
    color: #f48c8f;
    font-family: "Lato-Regular";
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
}

.block-five__textarea textarea:-ms-input-placeholder {
    color: #f48c8f;
    font-family: "Lato-Regular";
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
}

.block-five__textarea textarea::-ms-input-placeholder {
    color: #f48c8f;
    font-family: "Lato-Regular";
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
}

.block-five__textarea textarea::placeholder {
    color: #f48c8f;
    font-family: "Lato-Regular";
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
}

.block-five__input_margin {
    margin: 0 0 15px 0;
}

.block-five__input input::-webkit-input-placeholder {
    color: #f48c8f;
    font-family: "Lato-Regular";
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
}

.block-five__input input::-moz-placeholder {
    color: #f48c8f;
    font-family: "Lato-Regular";
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
}

.block-five__input input:-ms-input-placeholder {
    color: #f48c8f;
    font-family: "Lato-Regular";
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
}

.block-five__input input::-ms-input-placeholder {
    color: #f48c8f;
    font-family: "Lato-Regular";
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
}

.block-five__input input::placeholder {
    color: #f48c8f;
    font-family: "Lato-Regular";
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
}

.block-five__input input:focus {
    outline: none;
    box-shadow: 0px 0px 2px 1px;
}

.block-five__input [type="submit"]:hover {
    cursor: pointer;
    background-color: #ca443d;
}

.block-five__contact-headline h3 {
    width: 165px;
    height: 14px;
    color: #f0d8d9;
    font-family: "Lato-black";
    font-size: 18px;
    font-weight: 400;
    line-height: 17.86px;
    letter-spacing: -0.2px;
}

.block-five__contact-headline_margin h3 {
    margin-top: 0px;
    margin-bottom: 15px;
}

.block-five__section-block-rigth p {
    width: 301px;
    height: 85px;
    color: #f0d8d9;
    font-family: "Lato-Regular";
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    letter-spacing: -0.1px;
    text-decoration: none;
}

.block-five__section-block-rigth a {
    width: 301px;
    height: 85px;
    color: #f0d8d9;
    font-family: "Lato-Regular";
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    letter-spacing: -0.1px;
    text-decoration: none;
}

.block-five__box-link a img {
    margin-right: 10px;
    margin-left: 1px;
}

.block-five__link a {
    margin: 0;
    padding: 5px;
}

.block-five__box-link_margin {
    margin-top: 22px;
    margin-left: -5px;
}

.block-five__footer-line {
    max-width: 1020px;
    height: 6px;
    background-color: #ea676b;
}

/* BLOCK-FOOTER */

.block-footer {
    max-width: 1020px;
    height: 76px;
    background-color: #2d303a;
}

.block-footer__wrapper {
    max-width: 940px;
    margin: auto;
    box-sizing: border-box;
    height: 100%;
}

.block-footer__paragraph {
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.block-footer__paragraph p {
    width: 92px;
    height: 11px;
    color: #666d89;
    font-family: "Lato-Light";
    font-size: 12px;
    letter-spacing: -0.2px;
}

.block-footer__links {
    display: -webkit-box;
    display: flex;
}

.block-footer__link {
    width: 32px;
    height: 32px;
    border: 1px solid #666d89;
    border-radius: 60px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.block-footer__link a {
    padding: 5px 10px;
}

.block-footer__content-block {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 100%;
    -webkit-box-align: center;
    align-items: center;
}

.block-footer__link_margin {
    margin-right: 6px;
}

.block-footer__link:hover {
    border: 1px solid#f0d8d9;
}

#window_input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(188, 143, 143);
}

#input_close {
    display: none;
}

#messege {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    border: 2px dotted brown;
}

@media all and (max-width: 980px) {

    /* HEADER */
    .header__li {
        margin-top: 0;
    }

    .header__li_dot::after {
        margin: 0 14px;
    }

    .block-one__content {
        grid-template-columns: 83px 1fr 1fr 83px;
    }

    .block-one__background-for-dot_position {
        top: 11px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .block-one__background-for-dot {
        width: 7px;
        height: 7px;
    }


    /* BLOCK-ONE */
    .block-one {
        height: 454px;
    }

    .block-one__content {
        height: 448px;
    }

    .block-one__footer-line {
        height: 6px;
    }

    .block-one__speaker-phone_position {
        top: 19px;
        width: 28px;
        height: 5px;
    }

    .block-one__image-phone_position {
        top: 34px;
    }

    .blck-one__phone-left {
        border-radius: 20px;
    }

    .block-one__icon-button-phone {
        width: 10px;
        height: 10px;
        border-radius: 4px;
    }

    .block-one__button-phone_position {
        top: 36px;
    }

    .block-one__image_transform {
        width: 252px;
        height: 143px;
        margin: 55px 0px 0px -55px;
    }

    .blck-one__phone-left {
        width: 164px;
        height: 345px;
        margin: 41px 0 0 0;
        justify-self: flex-start;
    }

    .block-one__arrow {
        margin-bottom: 0;
    }

    .block-one__image-phone_image {
        background-size: contain;
    }

    .block-one__image-phone {
        width: 143px;
        height: 252px;
    }

    .block-one__image-phone_position,
    .block-one__background-for-dot_position,
    .phone_position,
    .block-one__speaker-phone_position,
    .block-one__button-phone_position {
        margin: auto;
        left: 0;
    }

    .block-one__button-phone {
        width: 33px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .block-one__icon-button-phone_position,
    .block-one__red-dot_position {
        top: 0;
        left: 0;
    }

    /* BLOCK-TWO */
    .block-two__main-headline h2 {
        padding: 50px 0 0 0;
    }

    .block-two__top-paragraph p {
        margin: 25px 40px 0;
    }

    .block-two__line-conent {
        grid-template-columns: 1fr 1fr;
        grid-gap: 22px 20px;
    }

    .block-two__line-conent_margin {
        margin: 10px 40px 0 42px;
    }

    .block-two__paragraph-content p {
        text-align: justify;
    }

    .block-two__line-conent article {
        justify-self: flex-start;
    }

    .block-two__main-headline h2,
    .block-three__mine-headline h2,
    .block-four__main-headline h2,
    .block-five__mine-paragraph p,
    .block-footer__content-block {
        margin: 0 40px;

    }

    .block-four__main-paragraph p {
        margin: 27px 40px 0px;
        text-align: justify;
    }

    .block-two__line-conent:last-child {
        padding-bottom: 60px;
    }

    /* BLOCK-THREE */

    .block-three__subtitle {
        margin: 21px 40px 0;
    }

    .block-three__box-button {
        margin: 0 40px 28px;
    }

    .block-four__wrapper {
        padding: 63px 0 0 1px;
    }

    .block-three__box-gallery {
        justify-self: center;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(3, 1fr);
        height: 800px;
        grid-gap: 10px 0px;
        margin: 0 30px 0 27px;
    }

    .block-three__box-gallery:nth-child(1n)>div {
        justify-self: center;
        width: 217px;
        height: 184px;
    }

    .block-three__box-gallery img {
        height: auto;
        width: 100%;
    }

    .block-three {
        min-height: 1095px;
    }

    /* BLOCK-FOUR */
    .block-four__box-column {
        width: 220px;
    }

    .block-four__image-item img {
        width: 220px;
    }

    .block-four__about-employee p {
        width: auto;
        text-align: justify;
        height: auto;
    }

    .block-three__subtitle p {
        text-align: justify;
        height: auto;
        line-height: 30px;
        margin-bottom: 10px;
    }

    .block-four__box-position {
        justify-content: space-between;
        margin: 0 40px;
    }

    .block-four__about-employee_margin {
        margin: 0;
    }

    .block-three__wrapper {
        padding: 68px 0 0 0;
    }



    /* BLOCK-FIVE */

    .block-five__mine-headline h2 {
        margin: 0 40px 17px;
    }

    .block-four {
        height: 662px;
    }

    .block-four__main-paragraph_margin {
        margin-bottom: 37px;
    }

    .block-four__name h3 {
        margin: 9px 0 0 0;
    }

    .block-four__about-employee_margin p {
        margin: 3px 0 11px;
    }

    .block-five__mine-paragraph p {
        width: auto;
        height: auto;
    }

    .block-five__input-box_margin {
        margin: 27px 38px 0;
    }

    .block-five__input,
    .block-five__input input,
    .block-five__textarea,
    .block-five__textarea textarea {
        width: 442px;
    }

    .block-five__contact-headline h3 {
        width: auto;
    }

    .block-five__section-block-rigth p {
        max-width: 301px;
        height: auto;
        width: auto;
        line-height: 22.56px;
    }

    .block-five__wrapper {
        padding: 62px 0 0 1px;
    }

    .block-five__section-block-rigth_margin {
        margin-left: 30px;
    }

    .block-five__contact-headline_margin h3 {
        margin-bottom: 7px;
    }

    .block-five__input_margin {
        margin: 0 0 12px 0;
    }

    .block-five__contact-paragraph p {
        margin: 6px 0 0 0;
    }

    .block-five__box-link_margin {
        margin-top: 7px;
    }

    .block-five__input_margin input,
    .block-five__textarea textarea {
        padding-left: 10px;
    }

    .block-five__textarea textarea {
        padding: 5px 0 0 15px;
        height: 159px;
        margin-bottom: 13px;
    }

    .block-five {
        height: 626px;
    }
}

@media all and (max-width:720px) {
    .block-four__wrapper {
        padding: 46px 0 0 1px;
    }

    .block-three__subtitle p {
        width: auto;
        letter-spacing: 0.2px;
    }

    .block-three__box-gallery {
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(2, 1fr);
        min-height: 0px;
        height: 515px;
        padding-bottom: 50px;
        grid-gap: 14px 10px;
    }

    .block-three_line-background,
    .block-four_footer-line,
    .header__footer,
    .block-two__footer-line,
    .block-five__footer-line {
        display: none;
    }

    .block-two__line-conent {
        grid-template-columns: 1fr;
        margin: 30px 30px 0 30px;
        grid-gap: 26px 0px;

    }

    .block-two__line-conent article {
        justify-self: flex-start;
    }

    .block-four {
        min-height: 1754px;
    }

    .block-four__box-position {
        flex-direction: column;
        align-items: center;
    }

    .block-four__box-column {
        margin-bottom: 33px;
        width: 314px;
    }

    .block-four__image-item img {
        width: 314px;
        height: 314px;
    }

    .block-four__main-paragraph_margin {
        margin-bottom: 23px;
    }

    .block-four__name h3 {
        margin: 15px 0 0 0;
    }

    .block-five__mine-headline h2 {
        margin: 0 30px 17px;
    }


    .block-five {
        height: 969px;
    }

    .block-five__input-box_margin {
        flex-wrap: wrap;
        justify-content: center;
        margin: 23px 38px 0;
    }

    .blck-one__phone-left {
        width: 81px;
        height: 169px;
        border-radius: 10px;
        margin: 18px 0 0 0;
    }

    .block-one__image-phone {
        width: 70px;
        height: 123px;
        border: 1px solid #c6c6c6;
        top: 16px;
    }

    .block-one__background-for-dot {
        width: 4px;
        height: 5px;
        top: 6px;
    }

    .block-one__red-dot {
        width: 2px;
        height: 2px;
    }

    .block-one__speaker-phone_position {
        width: 14px;
        height: 2px;
        top: 10px;
    }

    .block-one__button-phone {
        width: 16px;
        height: 16px;
    }

    .block-one__icon-button-phone {
        width: 5px;
        height: 5px;
        border: solid #bababa 1px;
        border-radius: 2px;
    }

    .block-one__button-phone_position {
        top: 18px;
    }

    .block-one__image_transform {
        width: 123px;
        height: 70px;
        margin: 27px 0px 0px -27px;
        background-size: contain;
    }

    .block-one {
        height: 220px;
    }

    .block-one__content {
        height: 220px;
        grid-template-columns: 35px 1fr 1fr 33px;
    }

    .block-one__button img {
        width: 15px;
        height: 26px;
    }

    .block-one__footer-line {
        height: 3px;
    }

    .header__background,
    .header__wrapper {
        height: 71px;
    }

    .header__logo h1 {
        font-size: 20px;
    }

    .block-three__box-gallery:nth-child(1n)>div {
        width: 151px;
        height: 128px;
    }

    .blck-one__phone-left_margin {
        margin-left: 5px;
    }

    .blck-one__phone-left_margin-two {
        margin-left: 13px;
    }

    .block-two__main-headline h2,
    .block-three__mine-headline h2,
    .block-four__main-headline h2,
    .block-five__mine-paragraph p,
    .block-footer__content-block {
        margin: 0 30px;

    }

    .block-two__main-headline h2 {
        padding: 35px 0 0 0;
    }

    .blck-one__phone-left_shadow {
        box-shadow: 9px 8px 0px 0px rgba(202, 31, 31, 0.15);
    }

    .blck-one__phone-left_shadow-rigth {
        box-shadow: 9px -8px 0px 0px rgba(202, 31, 31, 0.15);
    }

    .block-one__content {
        height: 217px;
    }

    .block-two__top-paragraph p {
        margin: 26px 31px 0;
    }

    .block-two__circle-image {
        margin: 0 19px 0 0;
    }

    .block-two__headline-conente-block h3 {
        margin: 0;
    }

    .block-two__paragraph-content p {
        margin-top: 9px;
    }

    .block-two__line-conent:last-child {
        padding-bottom: 22px;
    }

    .block-three__wrapper {
        padding: 51px 0 0 0;
    }

    .block-three__subtitle {
        margin: 21px 30px 0;
    }

    .block-three__box-button {
        margin: 14px 30px 25px;
    }

    .block-three {
        height: 844px;
        min-height: 0px;
    }

    .block-four__main-paragraph p {
        margin: 27px 30px 0px;
        letter-spacing: 0.1px;
    }

    .block-five__input_margin input,
    .block-five__input {
        width: 315px;
        height: 38px;
    }

    .block-five__input_margin input,
    .block-five__textarea textarea {
        padding-left: 6px;
    }

    .block-five__input [type="submit"] {
        width: 315px;
        height: 50px;
    }

    .block-five__section-block-rigth_margin {
        margin: 32px 0 0 0;
    }

    .block-five__link a {
        padding-left: 0;
    }


    .block-five__textarea,
    .block-five__textarea textarea {
        width: 315px;
        height: 159px;
        margin-bottom: 14px;
    }

    .block-five__wrapper {
        padding: 54px 0 0 1px;
    }

    .block-five__mine-paragraph p {
        letter-spacing: 0.2px;
    }

    .block-five__box-link_margin {
        margin: 10px 0 0 0;
    }

    .block-five__link {
        margin-bottom: 4px;
    }

    .block-five__section-block-rigth_margin article {
        width: 315px;
    }

    .block-footer__paragraph {
        display: none;
    }

    .block-footer__content-block {
        justify-content: center;
    }

    .header__nav {
        display: none;
    }

    .header__wrapper {
        justify-content: center;
    }

    .header__wrapper {
        padding: 0px 0 0 35px;
    }

    .header__nav-mobile-line,
    .header__nav-mobile-line::before,
    .header__nav-mobile-line::after {
        display: block;
    }
}

@media all and (max-width:370px) {
    .block-one__content {
        grid-template-columns: 25px 1fr 1fr 27px;
    }

    .blck-one__phone-left_margin-two {
        margin-left: 5px;
    }

    .block-two__line-conent {
        margin: 30px 0 0 15px;
    }

    .block-three__box-button {
        margin: 14px 15px 25px;
    }

    .block-three__box-gallery {
        margin: auto;
        grid-gap: 0px;
    }
}